* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #181818;
    font-family:Geneva, Tahoma, sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    background-color: #1f1f1f;
    height: 300px;
    width: 70%;
    border-radius: 30px;
    border: 1px solid gainsboro;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: gainsboro;
    text-align: center;
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    width: 90%;
    height: 30%;
    margin-top: 60px;
   
}

input[type='button'] {
    width:20%;
    height:100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: gainsboro;
    background-color: #26292e;
    border-top: 1px solid rgba(160, 160, 160, 1);
    border-left: 1px solid rgba(140, 140, 140, 1);
    border-right: 1px solid rgba(120, 120, 120, 1);
    border-bottom: 1px solid rgba(100, 100, 100, 1);
    box-shadow: 1px 1px 2px 0.6px black;
}

input[type="button"]:active {
    background-color: #1b1c1f;
    border-top: 1px solid rgba(100, 100, 100, 1);
    border-left: 1px solid rgba(120, 120, 120, 1);
    border-right: 1px solid rgba(140, 140, 140, 1);
    border-bottom: 1px solid rgba(160, 160, 160, 1);
    box-shadow: 1px 1px 2px 0.6px black inset;
    transform: translate(1px, 1px);
}
